<template>
    <content-layout-simple title="Administrators" :loading="loading" :empty="admins.length >= 1 ? false : true">
        <template #header-right>
            <n-button type="info" @click="adminModal = true">Add Administrator</n-button>
        </template>
        
        <n-table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Status</th>
                    <th>Date Created</th>
                    <th>Last Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(admin, i) in admins" :key="i">
                    <td>{{ admin.username }}</td>
                    <td>
                        <n-tag v-if="!admin.deleted_at" type="info">Active</n-tag>
                        <n-tag v-else type="error">Inactive</n-tag>
                    </td>
                    <td>{{ moment(admin.created_at).format('LLL') }}</td>
                    <td>{{ moment(admin.updated_at).format('LLL') }}</td>
                    <td class="w-1 whitespace-nowrap" align="right">
                        <div v-if="!admin.deleted_at" class="flex flex-row gap-2">
                            <n-button size="small" @click="adminModalEdit = true, adminModalData = admin">Edit</n-button>
                            <n-button size="small" type="error" @click="deactivate(admin)">Deactivate</n-button>
                        </div>
                        <n-button v-else size="small" type="info" @click="activate(admin)">Activate</n-button>
                    </td>
                </tr>
            </tbody>
        </n-table>
    </content-layout-simple>

    <n-modal :mask-closable="false" v-model:show="adminModal" style="width: 500px;" title="Add Administrator" preset="card">
        <UpsertAdmin @cancel="adminModal = false" @success="adminModal = false, getAdmins()"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="adminModalEdit" style="width: 500px;" title="Edit Administrator" preset="card">
        <UpsertAdmin v-model="adminModalData" @cancel="adminModalEdit = false" @success="adminModalEdit = false"/>
    </n-modal>
</template>
<script>
import moment from 'moment'
import { useDialog } from 'naive-ui'
import ContentLayoutSimple from '~/components/utils/ContentLayoutSimple.vue'
import UpsertAdmin from '~/components/admin/forms/UpsertAdmin.vue'
export default {
    components: { ContentLayoutSimple, UpsertAdmin },
    setup() {
        const dialog = useDialog()
        return { dialog }
    },
    data() {
        return {
            moment,
            admins: [],
            loading: false,

            adminModal: false,
            adminModalEdit: false,
            adminModalData: {}
        }
    },
    created() {
        this.getAdmins()
    },
    methods: {
        async getAdmins() {
            this.loading = true
            const { data } = await window.$api.get(`/admins`)
            this.admins = data
            this.loading = false
        },
        deactivate(admin) {
            const dialog = this.dialog.warning({
                title: "Deactivate Admin",
                content: `Are you sure you want to deactivate ${admin.username}?`,
                positiveText: 'Continue',
                negativeText: 'Cancel',
                onPositiveClick: async () => {
                    dialog.loading = true
                    try {
                        const { data } = await window.$api.post(`/admins/${admin.id}?_method=DELETE`)
                        const index = this.admins.findIndex(el => el.id == data.id)
                        this.admins[index] = data

                    } catch (e) {
                        const { data } = e.response
                        window.$message.error(String(data.message))
                    }

                    dialog.loading = false
                },
            })
        },
        activate(admin) {
            const dialog = this.dialog.info({
                title: "Activate Admin",
                content: `Are you sure you want to activate ${admin.username}?`,
                positiveText: 'Continue',
                negativeText: 'Cancel',
                onPositiveClick: async () => {
                    dialog.loading = true
                    try {
                        const { data } = await window.$api.post(`/admin-activate/${admin.id}`)
                        const index = this.admins.findIndex(el => el.id == data.id)
                        this.admins[index] = data

                    } catch (e) {
                        const { data } = e.response
                        window.$message.error(String(data.message))
                    }

                    dialog.loading = false
                },
            })
        }
    }
}
</script>