<template>
    <n-layout position="absolute">
        <n-layout-header>
            <div class="p-4 bg-main-gradient">
                <div class="container mx-auto">
                    <div class="float-right mt-5">
                        <n-popover placement="bottom-end" trigger="click">
                            <template #trigger>
                                <n-button type="info" color="#fff" ghost>{{ user.username }}</n-button>
                            </template>
                            <n-menu :options="userMenu" :indent="20" @update:value="menuSelect"/>
                        </n-popover>
                    </div>
                    <div class="flex gap-4 justify-center items-center text-white">
                        <div>
                            <img src="/images/logo.png" class="w-20">
                        </div>
                        <div class="text-center">
                            <div class="text-lg font-medium">Barangay Management Information System</div>
                            <div class="font-medium">{{ barangay?.address }}</div>
                        </div>
                        <div>
                            <img src="/images/logo1.png" class="w-20">
                        </div>
                    </div>
                </div>
            </div>
        </n-layout-header>
        <n-layout position="absolute" style="top: 115px; background: #f3f4f6 !important;">
            <div class="relative h-full container mx-auto">
                <n-layout has-sider position="absolute">
                    <n-layout-sider class="py-4">
                        <div class="mb-2 px-2">
                            <n-button type="info" style="width:100%" @click="modalPrintReport = true">Print Report</n-button>
                        </div>
                        <n-menu :options="menu" :value="selected" :default-expand-all="true" :indent="20" @update:value="menuSelect"/>
                    </n-layout-sider>
                    <n-layout-content class="py-4 pl-8">
                        <router-view></router-view>
                    </n-layout-content>
                </n-layout>
            </div>
        </n-layout>
    </n-layout>

    <n-modal :mask-closable="false" v-model:show="modalUserUsername" style="width: 500px;" title="Edit Username" preset="card">
        <UpdateUserUsername @cancel="modalUserUsername = false" @success="modalUserUsername = false"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalUserPassword" style="width: 500px;" title="Change Password" preset="card">
        <UpdateUserPassword @cancel="modalUserPassword = false" @success="modalUserPassword = false"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalPrintReport" style="width: 500px;" title="Print Report" preset="card">
        <PrintReports @cancel="modalPrintReport = false" @success="modalPrintReport = false"/>
    </n-modal>
</template>
<script>
import { h, resolveComponent } from 'vue'
import { mapState } from 'vuex'
import UpdateUserUsername from '~/components/admin/forms/UpdateUserUsername.vue'
import UpdateUserPassword from '~/components/admin/forms/UpdateUserPassword.vue'
import PrintReports from '~/components/admin/forms/PrintReports.vue'
import NotifBadge from '~/components/utils/NotifBadge.vue'

const renderLabel = (toName, label, params={}) => {
    return h(resolveComponent('router-link'),
        { to: { name: toName, params } },
        { default: () => label }
    )
}

export default {
    components: { UpdateUserUsername, UpdateUserPassword, PrintReports },
    data() {
        return {
            barangay: window.$barangay,

            userMenu: [
                {
                    label: 'Edit Username',
                    key: 'edit-username'
                },{
                    label: 'Change Password',
                    key: 'change-password'
                },{
                    label: 'Logout',
                    key: 'logout'
                }
            ],
            modalUserUsername: false,
            modalUserPassword: false,
            modalPrintReport: false
        }
    },
    created() {
        this.$store.dispatch('getNotifications')
    },
    methods: {
        menuSelect(key) {
            switch (key) {
                case 'edit-username':
                    this.modalUserUsername = true
                    break;

                case 'change-password':
                    this.modalUserPassword = true
                    break;

                case 'logout':
                    window.location.replace('/admin/logout')
                    break;
            }
        }
    },
    computed: {
        ...mapState({
            user: state => state.user,
            menu (_state, getters) {
                const transactions = Object.keys(window.$documentTypes).map(el => {
                    const notif = getters.getNotification(el)
                    return {
                        label: () => renderLabel('transaction-document', window.$documentTypes[el], {type:el}),
                        key: `transaction-document-${el}`,
                        extra: () => {
                            if (!notif) return null
                            return h(NotifBadge, { warningValue:notif?.pending, errorValue:notif?.unpaid })
                        }
                    }
                })

                const menu = [
                    {
                        label: () => renderLabel('home', 'Home'),
                        key: 'home',
                    }
                    // ,{
                    //     label: () => renderLabel('dashboard', 'Dashboard'),
                    //     key: 'dashboard',
                    // }
                    ,{
                        label: () => renderLabel('residents', 'Residents'),
                        key: 'residents',
                    },{
                        label: 'Transactions',
                        key: 'transactions',
                        children: transactions
                    }
                ]

                if (this.user.role != 'official') menu.push({
                    label: () => renderLabel('officials', 'Barangay Officials'),
                    key: 'officials',
                })

                if (this.user.is_super) menu.push({
                    label: () => renderLabel('administrators', 'Administrators'),
                    key: 'administrators',
                })

                return menu
            },
        }),
        selected() {
            const { name, params } = this.$route
            if (name == 'resident') return 'residents'
            if (name == 'transaction-document') return `transaction-document-${params.type}`
            return name
        },
    }
}
</script>