<template>
    <content-layout-simple title="Dashboard"
        :loading="loading">
        <n-card size="small">
            <div class="flex flex-col gap-4">
                <div class="flex flex-row gap-4">
                    <div class="flex-1">
                        <div class="flex flex-col gap-4">
                            <n-card title="Registered Population">
                                <div class="text-xl">{{ numeral(counts.main?.count).format(0,0) }}</div>
                            </n-card>
                        </div>
                    </div>
                    <div class="flex-1">
                        <div class="flex flex-col gap-4">
                            <n-card title="Registered Voters">
                                <n-progress
                                    type="line"
                                    :percentage="votersPercentage"
                                    :height="24"
                                    :border-radius="0"
                                    >
                                    {{ counts.voters?.count }} Voters
                                </n-progress>
                            </n-card>
                        </div>
                    </div>
                </div>
                <div>
                    <n-card title="Areas / Purok">
                        <BarChart v-if="puroks" :chartData="puroks" :options="{...chartOpts,
                            scales: { 
                                x:{ stacked: true, },
                                y:{ stacked: true, },
                            }
                        }" />
                    </n-card>
                </div>
                <div>
                    <n-card title="COVID Travel Pass Issued">
                        <BarChart v-if="covids" :chartData="covids" :options="{...chartOpts}" />
                    </n-card>
                </div>
            </div>
        </n-card>
    </content-layout-simple>
</template>
<script>
import ContentLayoutSimple from '~/components/utils/ContentLayoutSimple.vue'
import moment from 'moment'
import numeral from 'numeral'
import { PieChart, BarChart } from 'vue-chart-3'
import { Chart, registerables } from 'chart.js'
Chart.register(...registerables)

export default {
    components: { ContentLayoutSimple, PieChart, BarChart },
    data() {
        return {
            numeral,

            barangay: window.$barangay,
            counts: {},
            genders: null,
            puroks: null,
            covids: null,
            loading: false,
            chartOpts: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    }
                },
            },
            genderColor: ['#2563eb', '#db2777'],
            barChartColors: ['#65a30d', '#059669', '#0891b2', '#2563eb', '#7c3aed', '#c026d3', '#db2777', '#dc2626', '#ea580c', '#ca8a04', '#65a30d', '#059669']
        }
    },
    created() {
        this.getCounts()
    },
    methods: {
        async getCounts() {
            this.loading = true

            const { data } = await window.$api.get(`/dashboard`)
            this.counts = data
            this.loading = false

            this.puroks = this.setPurokGenderChart(data.purok)
            this.covids = this.setCovidChart(data.covid)
        },
        setPurokGenderChart(data) {
            return {
                labels: data.map(el => `PUROK ${el.purok}`),
                datasets: [
                    {
                        label: 'Male',
                        data: data.map(el => el.male),
                        backgroundColor: '#2563eb'
                    },{
                        label: 'Female',
                        data: data.map(el => el.female),
                        backgroundColor: '#db2777'
                    }
                ],
            }
        },
        setCovidChart(data) {
            const labels = data.map(el => moment(el.categ_type,'YYYYMM').format("MMM YYYY"))
            const datasets = data.map(el => el.count)
            return {
                labels,
                datasets: [{
                    data: datasets,
                    backgroundColor: this.barChartColors
                }],
            }
        }
    },
    computed: {
        votersPercentage() {
            const counts = this.counts
            return Math.round((counts.voters?.count / counts.main?.count) * 100)
        }
    }
}
</script>