<template>
    <content-layout-simple title="Home">
        <n-card size="small">
            <div class="flex flex-col gap-4">
                <div><img src="/images/homepg.jpg" class="w-full"></div>

                <div>
                    <div class="text-lg text-center font-medium uppercase">Brief History of the Barangay</div>
                    <p v-for="(text, i) in splitParagraph(barangay?.history)" :key="i" class="text-justify indent-10 whitespace-pre-line mt-2">
                        {{ text }}
                    </p>
                </div>

                <div>
                    <div class="text-lg text-center font-medium uppercase">Vision</div>
                    <p v-for="(text, i) in splitParagraph(barangay?.vision)" :key="i" class="text-justify indent-10 whitespace-pre-line">
                        {{ text }}
                    </p>
                </div>

                <div>
                    <div class="text-lg text-center font-medium uppercase">Mission</div>
                    <p v-for="(text, i) in splitParagraph(barangay?.mission)" :key="i" class="text-justify indent-10 whitespace-pre-line">
                        {{ text }}
                    </p>
                </div>
            </div>
        </n-card>
    </content-layout-simple>
</template>
<script>
import ContentLayoutSimple from '~/components/utils/ContentLayoutSimple.vue'
export default {
    components: { ContentLayoutSimple },
    data() {
        return {
            barangay: window.$barangay
        }
    },
    methods: {
        splitParagraph(text) {
            return text.split(/\r?\n/)
        }
    },
}
</script>