<template>
    <n-layout position="absolute">
        <div class="pt-20 bg-cover bg-no-repeat bg-center h-full" style="background-image:url('/images/bg-login.jpg') !important;">
            <div class="mx-auto" style="max-width:500px;">
                <n-card>
                    <div class="flex flex-row gap-4 items-center mb-10">
                        <div>
                            <img src="/images/logo1.png" class="w-20"/>
                        </div>
                        <div class="flex-1 text-center">
                            <div class="font-medium text-lg">Barangay Management Information System</div>
                            <div class="text-sm">{{ barangay?.address }}</div>
                        </div>
                        <div>
                            <img src="/images/logo.png" class="w-20"/>
                        </div>
                    </div>

                    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

                        <n-form-item label="Username" path="username" :feedback="formFeedback.message.username" :validation-status="formFeedback.status.username">
                            <n-input v-model:value="formValues.username" placeholder="Input username" @input="formErrors.username = undefined" />
                        </n-form-item>

                        <n-form-item label="Password" path="password" :feedback="formFeedback.message.password" :validation-status="formFeedback.status.password">
                            <n-input type="password" v-model:value="formValues.password" placeholder="Input password" @input="formErrors.password = undefined" />
                        </n-form-item>

                        <n-form-item label="Login As" path="is_admin" :feedback="formFeedback.message.is_admin" :validation-status="formFeedback.status.is_admin">
                            <n-select v-model:value="formValues.is_admin" :options="loginAs" placeholder="Input login as" @input="formErrors.is_admin = undefined" />
                        </n-form-item>
                        
                        <n-button style="width:100%" :disabled="formDisabled" :loading="formDisabled" attr-type="submit" type="primary">Login</n-button>

                    </n-form>

                    <div class="text-sm mt-4">
                        Go to resident <a href="/" class="font-medium text-blue-700 hover:text-blue-500">login page.</a>
                    </div>
                </n-card>
            </div>
        </div>
    </n-layout>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            barangay: window.$barangay,

            formValues: {
                is_admin: 1,
                _token: document.querySelector('meta[name="csrf-token"]').content
            },
            formDisabled: false,
            formRules: {
                username: {
                    required: true,
                    message: 'Please input username',
                    trigger: ['input', 'blur'],
                },
                password: {
                    required: true,
                    message: 'Please input password',
                    trigger: ['input', 'blur'],
                },
                is_admin: {
                    type: 'number',
                    required: true,
                    message: 'Please input login as',
                    trigger: ['input', 'blur'],
                }
            },
            formErrors: {},

            loginAs: [
                {label:'Administrator', value:1},
                {label:'Barangay Official', value:0},
            ]
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                await axios.post(`/admin/login`, this.formValues)
                window.location.replace('/admin/panel')

            } catch (e) {
                const { errors } = e.response.data
                if (errors) {
                    this.formErrors = errors
                } else {
                    window.$messageAlert.error(String(e.response.data), "Login Error")
                }
            }
            this.formDisabled = false
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>