<template>
    <content-layout title="Barangay Officials"
        :loading="loading"
        :empty="officials.length >= 1 ? false : true"
        :page-count="pageCount"
        search-placeholder="Search barangay officials"
    >
        <template #header-right>
            <n-button type="info" @click="officialModal = true">Add Barangay Official</n-button>
        </template>

        <n-table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Position</th>
                    <th>Username</th>
                    <th>Date Created</th>
                    <th>Last Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(official, i) in officials" :key="i">
                    <td>{{ official.fullname }}</td>
                    <td>
                        <n-tag v-if="!official.deleted_at" type="info">Active</n-tag>
                        <n-tag v-else type="error">Inactive</n-tag>
                    </td>
                    <td>{{ official.position_str }}</td>
                    <td>{{ official.username }}</td>
                    <td>{{ moment(official.created_at).format('LLL') }}</td>
                    <td>{{ moment(official.updated_at).format('LLL') }}</td>
                    <td class="w-1 whitespace-nowrap" align="right">
                        <div v-if="!official.deleted_at" class="flex flex-row gap-2">
                            <n-button size="small" @click="officialModalEdit = true, officialModalData = official">Edit</n-button>
                            <n-button size="small" type="error" @click="deactivate(official)">Deactivate</n-button>
                        </div>
                        <n-button v-else size="small" type="info" @click="activate(official)">Activate</n-button>
                    </td>
                </tr>
            </tbody>
        </n-table>
    </content-layout>

    <n-modal :mask-closable="false" v-model:show="officialModal" style="width: 600px;" title="Add Barangay Official" preset="card">
        <UpsertOfficial @cancel="officialModal = false" @success="officialModal = false, getOfficials()"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="officialModalEdit" style="width: 600px;" title="Edit Barangay Official" preset="card">
        <UpsertOfficial v-model="officialModalData" @cancel="officialModalEdit = false" @success="officialModalEdit = false"/>
    </n-modal>
</template>
<script>
import { useDialog } from 'naive-ui'
import ContentLayout from '~/components/utils/ContentLayout.vue'
import UpsertOfficial from '~/components/admin/forms/UpsertOfficial.vue'
import moment from 'moment'
export default {
    components: { ContentLayout, UpsertOfficial },
    setup() {
        const dialog = useDialog()
        return { dialog }
    },
    data() {
        return {
            moment,
            officials: [],
            pageCount: 1,
            loading: false,

            officialModal: false,
            officialModalEdit: false,
            officialModalData: {}
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getOfficials()
        },{ immediate: true })
    },
    methods: {
        async getOfficials() {
            const params = this.$route.query
            this.loading = true

            const { data } = await window.$api.get(`/officials`, { params })
            this.officials = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
        deactivate(official) {
            const dialog = this.dialog.warning({
                title: "Deactivate Official",
                content: `Are you sure you want to deactivate ${official.fullname}?`,
                positiveText: 'Continue',
                negativeText: 'Cancel',
                onPositiveClick: async () => {
                    dialog.loading = true
                    try {
                        const { data } = await window.$api.post(`/officials/${official.id}?_method=DELETE`)
                        const index = this.officials.findIndex(el => el.id == data.id)
                        this.officials[index] = data

                    } catch (e) {
                        const { data } = e.response
                        window.$message.error(String(data.message))
                    }

                    dialog.loading = false
                },
            })
        },
        activate(official) {
            const dialog = this.dialog.info({
                title: "Activate Official",
                content: `Are you sure you want to activate ${official.fullname}?`,
                positiveText: 'Continue',
                negativeText: 'Cancel',
                onPositiveClick: async () => {
                    dialog.loading = true
                    try {
                        const { data } = await window.$api.post(`/official-activate/${official.id}`)
                        const index = this.officials.findIndex(el => el.id == data.id)
                        this.officials[index] = data

                    } catch (e) {
                        const { data } = e.response
                        window.$message.error(String(data.message))
                    }

                    dialog.loading = false
                },
            })
        }
    }
}
</script>