<template>
    <content-layout :title="transactionName"
        :loading="loading"
        :empty="transactions.length >= 1 ? false : true"
        :page-count="pageCount"
    >
        <template #header-right>
            <div class="flex flex-row gap-2">
                <n-button v-if="type >= 2" @click="modalSignatory =  true">Set Signatories</n-button>
                <n-button @click="modalTransaction = true" type="info">Add {{ transactionName }}</n-button>
            </div>
        </template>

        <n-table>
            <thead>
                <tr>
                    <!-- <th class="w-1 whitespace-nowrap">OR No.</th> -->
                    <th>Resident Name</th>

                    <th v-if="isBusiness">Resident Business</th>

                    <template v-if="isAsset">
                        <th>Resident Asset</th>
                        <th>Purpose</th>
                    </template>

                    <template v-if="isCovid">
                        <th>Destination</th>
                        <th>Purpose</th>
                    </template>

                    <template v-if="isSummon">
                        <th>Respondent</th>
                        <th>Schedule</th>
                        <th>Reason / Purpose</th>
                    </template>

                    <th v-if="!isMaterials">
                        <span v-if="isSummon">Case No.</span>
                        <span v-else>CTC No.</span>
                    </th>

                    <template v-if="isMaterials">
                        <th>Materials</th>
                    </template>

                    <template v-if="hasAmount">
                        <th>Amount</th>
                    </template>

                    <th>Remarks</th>
                    <th>Date Issued</th>
                    <th>Last Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(transaction, i) in transactions" :key="i">
                    <!-- <td class="w-1 whitespace-nowrap">{{ transaction.or_number ?? '-----' }}</td> -->
                    <td>
                        <router-link :to="{name:'resident', params:{id:transaction.resident.id}}" class="block font-medium cursor-pointer hover:text-blue-500">
                            {{ transaction.resident.fullname }}
                        </router-link>
                    </td>

                    <!-- Business -->
                    <td v-if="isBusiness" class="leading-tight">
                        {{ transaction.resident_itemable.name }} <br>
                        <small>{{ transaction.resident_itemable.address_str }}</small>
                    </td>

                    <!-- Assets -->
                    <template v-if="isAsset">
                        <td class="leading-tight">
                            {{ transaction.resident_itemable.type_str }} <br>
                            <small>{{ transaction.resident_itemable.details_str }}</small>
                        </td>
                        <td>{{ transaction.purpose }}</td>
                    </template>

                    <!-- Covid -->
                    <template v-if="isCovid">
                        <td>{{ transaction.covid?.address }}</td>
                        <td>{{ transaction.purpose }}</td>
                    </template>

                    <!-- Summons -->
                    <template v-if="isSummon">
                        <td>{{ transaction.summon?.respondent_name || transaction.summon?.resident_name }}</td>
                        <td>{{ moment(transaction.summon.scheduled_at).format('LLL') }}</td>
                        <td>{{ transaction.purpose }}</td>
                    </template>

                    <!-- Borrowed Materials -->
                    <template v-if="isMaterials">
                        <td>
                            <n-tag :type="transaction.material?.status_details.type">{{ transaction.material?.status_details.text }}</n-tag>
                            <div class="mt-2">({{ transaction.material.quantity }}) {{ transaction.material.material }}</div>
                        </td>
                    </template>

                    <!-- CTC Number -->
                    <td v-if="!isMaterials">{{ transaction.ctc_number ?? '-----' }}</td>

                    <!-- Amount -->
                    <td v-if="hasAmount">{{ numeral(transaction.amount).format('0,0.00') }}</td>

                    <!-- Remarks -->
                    <td>
                        <n-tag :type="transaction.remarks?.type">{{ transaction.remarks?.text }}</n-tag>
                        <ul class="list-none list-inside text-sm mt-2">
                            <li v-if="transaction.requested_at">Date Requested: {{ moment(transaction.requested_at).format('LL') }}</li>
                            <!-- <li v-if="transaction.paid_at">Date Paid: {{ moment(transaction.paid_at).format('LL') }}</li> -->
                            <li v-if="transaction.returned_at">Date Returned: {{ moment(transaction.returned_at).format('LL') }}</li>
                        </ul>
                    </td>

                    <!-- Date Issued -->
                    <td>{{ (transaction.issued_at) ? moment(transaction.issued_at).format('LL') : '-----'}}</td>

                    <td>{{ moment(transaction.updated_at).format('LLL') }}</td>
                    <th class="w-1 whitespace-nowrap">
                        <div class="flex flex-row justify-end gap-2">
                            <n-button v-if="!noPrint && transaction.remarks?.type == 'success'"
                                tag="a" target="_blank" type="info" size="small"
                                :href="`/admin/print/documents?id=${transaction.id}&type=${transaction.type}`"
                            >
                                Print
                            </n-button>

                            <n-button size="small" type="success"  @click="modalTransactionPayment = true, modalTransactionPaymentData = transaction"
                                v-if="transaction.remarks?.type != 'success' && !transaction.remarks?.paid && transaction.remarks?.issued">
                                Set Payment Date
                            </n-button>

                            <n-button :type="(transaction.issued_at) ? '' : 'success'" size="small" @click="modalTransactionEdit = true, modalTransactionData = transaction">
                                {{ (transaction.issued_at) ? 'Edit' : 'Update' }}
                            </n-button>
                        </div>
                    </th>
                </tr>
            </tbody>
        </n-table>

    </content-layout>
    
    <n-modal :mask-closable="false" v-model:show="modalTransaction" style="width: 600px;" :title="`Add ${transactionName}`" preset="card">
        <UpsertTransaction :type="type" @cancel="modalTransaction = false" @success="modalTransaction = false, getTransactions(), $store.dispatch('getNotifications')"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalTransactionEdit" style="width: 600px;" :title="`Edit ${transactionName}`" preset="card">
        <UpsertTransaction v-model="modalTransactionData" :type="type" @cancel="modalTransactionEdit = false" @success="modalTransactionEdit = false, $store.dispatch('getNotifications')"/>
    </n-modal>
    <n-modal :mask-closable="false" v-model:show="modalTransactionPayment" style="width: 500px;" :title="`Update Payment ${transactionName}`" preset="card">
        <UpdateTransactionPayment v-model="modalTransactionPaymentData" @cancel="modalTransactionPayment = false" @success="modalTransactionPayment = false, $store.dispatch('getNotifications')"/>
    </n-modal>

    <n-modal :mask-closable="false" v-model:show="modalSignatory" style="width: 500px;" title="Set Signatories" preset="card">
        <UpdateSignatory :type="`document_${type}`" @cancel="modalSignatory = false" @success="modalSignatory = false"/>
    </n-modal>
</template>
<script>
import ContentLayout from '~/components/utils/ContentLayout.vue'
import UpsertTransaction from '~/components/admin/forms/UpsertTransaction.vue'
import UpdateSignatory from '~/components/admin/forms/UpdateSignatory.vue'
import UpdateTransactionPayment from '~/components/admin/forms/UpdateTransactionPayment.vue'
import moment from 'moment'
import numeral from 'numeral'
export default {
    props: ['type'],
    components: { ContentLayout, UpsertTransaction, UpdateSignatory, UpdateTransactionPayment },
    data() {
        return {
            moment,
            numeral,
            transactions: [],
            loading: false,
            pageCount: 1,

            modalTransaction: false,
            modalTransactionEdit: false,
            modalTransactionData: {},
            modalTransactionPayment: false,
            modalTransactionPaymentData: {},

            modalSignatory: false
        }
    },
    created() {
        this.$watch(() => this.$route.query, () => {
            this.getTransactions()
        },{ immediate: true })
    },
    methods: {
        async getTransactions() {
            await this.type
            const params = this.$route.query
            this.loading = true

            const { data } = await window.$api.get(`/transactions?type=${this.type}`, { params })
            this.transactions = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
    },
    computed: {
        transactionName() { return window.$documentTypes[this.type] },
        isBusiness() { return [5,6].includes(Number(this.type)) },
        isAsset() { return this.type == 8 },
        isCovid() { return this.type == 9 },
        isSummon() { return this.type == 10 },
        isMaterials() { return this.type == 11 },
        hasAmount() { return this.type <= 1 },
        noPrint() { return [1,11].includes(Number(this.type)) }
    }
}
</script>