<template>
    <div class="float-right">
        <div class="flex flex-row gap-1">
            <n-tag size="small" type="warning" round v-if="warningValue && warningValue >= 1">{{ warningValue }}</n-tag>
            <n-tag size="small" type="error" round v-if="errorValue && errorValue >= 1">{{ errorValue }}</n-tag>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        warningValue: [Number, String],
        errorValue: [Number, String],
    }
}
</script>