<template>
    <div>
        <div class="border-b border-gray-300 border-solid text-lg">
            <span v-if="!title || title == ''" class="italic">None</span>
            <span>{{ title }}</span>
        </div>
        <div class="text-gray-500 capitalize">{{ description }}</div>
    </div>
</template>
<script>
export default {
    props: {
        title: [String, Number],
        description: String,
    }
}
</script>