<template>
    <n-select filterable remote
        v-model:value="modelValue"
        :options="residents"
        placeholder="Search residents"
        @update:value="updateValue"
        @search="searchResident"
    />
</template>
<script>
import _debounce from 'lodash/debounce'
export default {
    props: {
        modelValue: [String, Number],
        resident: {type:Object, default:{}},
    },
    data() {
        return {
            residents: []
        }
    },
    created() {
        if (this.resident.id) {
            this.residents.push({
                label: this.resident.fullname,
                value: this.resident.id,
            })
        } else {
            this.getResident()
        }
    },
    methods: {
        searchResident: _debounce(async function(search) {
            this.getResident(search)
        }, 600),
        async getResident(search='') {
            const { data } = await window.$api.get(`/residents?search=${search}`)
            this.residents = data.data.map(el => {
                return {
                    label: el.fullname,
                    value: el.id
                }
            })
        },
        updateValue(value) {
            this.$emit('update:modelValue', value)
        }
    }
}
</script>