<template>
    <div class="flex flex-col md:flex-row gap-4">
        <n-form-item :show-label="showLabel" :show-feedback="showFeedback" :rule="rule.province" class="flex-1" label="Province" :path="`${pathPrefix}province`">
            <n-select :options="provinces" v-model:value="province" placeholder="Input province" filterable clearable/>
        </n-form-item>

        <n-form-item :show-label="showLabel" :show-feedback="showFeedback" :rule="rule.municipality" class="flex-1" label="Municipality" :path="`${pathPrefix}municipality`">
            <n-select :options="municipalities" v-model:value="municipality" :disabled="municipalities.length <= 0" placeholder="Input municipality" filterable clearable/>
        </n-form-item>

        <n-form-item :show-label="showLabel" :show-feedback="showFeedback" :rule="rule.barangay" class="flex-1" label="Barangay" :path="`${pathPrefix}barangay`">
            <n-select :options="barangays" v-model:value="barangay" :disabled="barangays.length <= 0" placeholder="Input barangay" filterable clearable/>
        </n-form-item>
    </div>
</template>
<script>
export default {
    props: {
        modelValue: {type:Object, default:{}},
        showLabel: {type:Boolean, default:true},
        showFeedback: {type:Boolean, default:true},
        rule: {type:Object, default:{}},
        pathPrefix: {type:String, default:''}
    },
    data() {
        return {
            address: []
        }
    },
    async created() {
        const { data } = await window.$api3.get('/address')
        this.address = data
    },
    computed: {
        // Province
        province: {
            get() {
                return this.modelValue.province
            },
            set(val) {
                const addr = {
                    province: val,
                    municipality: null,
                    barangay: null,
                }
                this.$emit('update:modelValue', Object.assign(this.modelValue, addr))
            }
        },
        provinces() {
            return Object.keys(this.address).sort().map(el => {
                return { label: el, value: el }
            })
        },

        // Municipality
        municipality: {
            get() {
                return this.modelValue.municipality
            },
            set(val) {
                const addr = {
                    municipality: val,
                    barangay: null,
                }
                this.$emit('update:modelValue', Object.assign(this.modelValue, addr))
            }
        },
        municipalities() {
            const province = this.address[this.modelValue.province]
            if (!province) return []

            const { municipality_list } = province
            if (!municipality_list) return []

            return Object.keys(municipality_list).sort().map(el => {
                return { label: el, value: el }
            })
        },

        // Barangay
        barangay: {
            get() {
                return this.modelValue.barangay
            },
            set(val) {
                const addr = {
                    barangay: val,
                }
                this.$emit('update:modelValue', Object.assign(this.modelValue, addr))
            }
        },
        barangays() {
            const province = this.address[this.modelValue.province]
            if (!province) return []

            const { municipality_list } = province
            if (!municipality_list) return []
            
            const municipality = municipality_list[this.modelValue.municipality]
            if (!municipality) return []

            const { barangay_list } = municipality
            if (!barangay_list) return []

            return barangay_list.sort().map(el => {
                return { label: el, value: el }
            })
        },
    }
}
</script>