<template>
    <div class="bg-cover bg-no-repeat bg-center bg-fixed" style="background-image:url('/images/homepg.jpg') !important;">
        <div style="background: rgba(0,0,0,0.5);">
            <div class="flex flex-col-reverse md:flex-row gap-4 items-center justify-center min-h-screen px-4 py-10 mx-auto max-w-screen-lg">
                <slot></slot>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>