<template>
    <n-layout position="relative">
        <n-layout-header>
            <div>
                <div class="flex gap-4 justify-center items-center text-white p-4 bg-main-gradient">
                    <div>
                        <img src="/images/logo.png" class="w-20">
                    </div>
                    <div class="text-center">
                        <div class="text-lg font-medium">Barangay Management Information System</div>
                        <div class="font-medium">{{ barangay?.address }}</div>
                    </div>
                    <div>
                        <img src="/images/logo1.png" class="w-20">
                    </div>
                </div>
                <div class="shadow-md sticky top-0 bg-white">
                    <div class="mx-auto p-4 max-w-screen-lg">
                        <div class="flex gap-4 justify-between items-center">
                            <div>
                                <n-menu :options="menu" :value="selected" mode="horizontal"/>
                            </div>
                            <div>
                                <n-popover placement="bottom-end" trigger="click">
                                    <template #trigger>
                                        <n-button type="info">{{ user.email }}</n-button>
                                    </template>
                                    <n-menu :options="userMenu" :indent="20" @update:value="userMenuSelect"/>
                                </n-popover>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </n-layout-header>
        <n-layout style="background: #f3f4f6 !important;">
            <div class="mx-auto p-4 max-w-screen-lg">
                <router-view></router-view>
            </div>
        </n-layout>
    </n-layout>

    <n-modal :mask-closable="false" v-model:show="modalUserPassword" style="width: 500px;" title="Change Password" preset="card">
        <UpdateUserPassword @cancel="modalUserPassword = false" @success="modalUserPassword = false"/>
    </n-modal>
</template>
<script>
import { h, resolveComponent } from 'vue'
import { mapState } from 'vuex'
import UpdateUserPassword from '~/components/resident/forms/UpdateUserPassword.vue'

const renderLabel = (toName, label, params={}) => {
    return h(resolveComponent('router-link'),
        { to: { name: toName, params } },
        { default: () => label }
    )
}

export default {
    components: { UpdateUserPassword },
    data() {
        return {
            barangay: window.$barangay,
            userMenu: [
                {
                    label: 'Change Password',
                    key: 'change-password'
                },{
                    label: 'Logout',
                    key: 'logout'
                }
            ],
            modalUserPassword: false,
        }
    },
    methods: {
        userMenuSelect(key) {
            switch (key) {
                case 'change-password':
                    this.modalUserPassword = true
                    break;

                case 'logout':
                    window.location.replace('/resident/logout')
                    break;
            }
        }
    },
    computed: {
        menu() {
            return [
                {
                    label: () => renderLabel('resident-home', 'Home'),
                    key: 'resident-home',
                },{
                    label: () => renderLabel('resident-requests', 'Requests'),
                    key: 'resident-requests',
                }
            ]
        },
        selected() {
            const { name } = this.$route
            return name
        },
        ...mapState({
            user: state => state.user
        })
    }
}
</script>