<template>
    <AppLayout2>
        <div class="flex-1">
            <div class="mx-auto max-w-screen-sm text-center">
                <n-card v-if="!verified">
                    <h2 class="font-medium text-xl text-green-600">Email Verification Code Successfully Sent</h2>
                    <p class="mt-4">
                        Email verification code was sent to your provided email. <br>
                        Please copy and paste the code here to verify your account.
                    </p>
                    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">
                        <n-form-item path="code" :feedback="formFeedback.message.code" :validation-status="formFeedback.status.code">
                            <n-input size="large" v-model:value="formValues.code" placeholder="Input code" @update:value="formErrors.code = undefined" />
                        </n-form-item>

                        <div class="flex flex-row gap-2 justify-center">
                            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
                        </div>
                    </n-form>
                </n-card>

                <n-card v-else>
                    <h2 class="font-medium text-xl text-green-600">Email Verified Successfully</h2>
                    <p class="my-4">
                        You can login <router-link class="font-medium text-blue-700 hover:text-blue-500" :to="{name:'resident-login'}">your account now.</router-link>
                    </p>
                </n-card>
            </div>
        </div>
    </AppLayout2>
</template>
<script>
import AppLayout2 from '~/components/resident/AppLayout2.vue'
export default {
    components: { AppLayout2 },
    data() {
        return {
            verified: false,
            formDisabled: false,
            formValues: {},
            formRules: {
                code: {
                    required: true,
                    message: 'Please input code',
                    trigger: ['input', 'blur']
                },
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true

            try {
                await window.$api3.post('/verify-code', this.formValues)
                this.verified = true

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
            }

            this.formDisabled = false
        },
        goBackHome() {
            this.$router.push({name:'resident-login'})
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>