<template>
    <div class="flex flex-col gap-4 my-5">
        <div class="flex flex-col md:flex-row gap-4 items-center">
            <div v-if="photoExists">
                <!-- Photo -->
                <img :src="`/images/profiles/${resident.photo}`" alt="Profile Photo" class="w-52"/>
            </div>
            <div class="flex-1">
                <!-- General Information -->
                <n-card size="small" title="General Information">
                    <div class="flex flex-col gap-4">
                        <div class="flex flex-col md:flex-row gap-4">
                            <profile-description class="flex-1" :title="resident.fullname" description="Name"/>
                            <profile-description :title="resident.email" description="Email Address"/>
                        </div>
                        <div class="flex flex-col md:flex-row gap-4">
                            <div class="flex-1">
                                <div class="flex flex-row gap-4">
                                    <profile-description class="flex-1" :title="resident.gender_str" description="Gender"/>
                                    <profile-description class="flex-1" :title="resident.civil_status_str" description="Civil Status"/>
                                </div>
                            </div>
                            <div class="flex-1">
                                <div class="flex flex-row gap-4">
                                    <profile-description class="flex-1" :title="moment(resident.bday).format('LL')" description="Birthdate"/>
                                    <profile-description :title="resident.age" description="Age"/>
                                    <profile-description :title="resident.years_resided" description="Years Resided"/>
                                </div>
                            </div>
                        </div>
                        <profile-description :title="resident.address" description="Address"/>
                        <div class="flex flex-col md:flex-row gap-4">
                            <div class="flex-1" v-if="resident.is_voter">
                                <n-alert title="Registered Voter" type="success">
                                    This resident is a registered voter.
                                </n-alert>
                            </div>
                            <div class="flex-1" v-if="resident.is_household">
                                <n-alert title="Head of the Family" type="success">
                                    This resident is the Household / Head of the Family.
                                </n-alert>
                            </div>
                        </div>
                    </div>
                </n-card>
            </div>
        </div>

        <!-- Educational Background -->
        <n-card size="small" title="Educational Background">
            <div v-if="resident.educations?.length >= 1" class="flex flex-col divide-y">
                <div v-for="(e, i) in resident.educations" :key="i" class="py-3">
                    <div class="flex flex-col md:flex-row gap-4">
                        <profile-description class="w-40" :title="e.level_str" description="Level"/>
                        <profile-description class="w-40" :title="e.course" description="Program / Course"/>
                        <profile-description class="flex-1" :title="e.school_name" description="School Name"/>
                        <profile-description class="flex-1" :title="e.address" description="School Address"/>
                        <profile-description class="w-40" :title="moment(e.graduated_at).format('MMMM YYYY')" description="Year Graduated"/>
                    </div>
                </div>
            </div>
            <n-empty v-else description="No educational background found."/>
        </n-card>

        <!-- Family Background -->
        <n-card size="small" title="Family Background">
            <div class="flex flex-col gap-4">
                <div v-for="(f, i) in ['father','mother','spouse']" :key="i" class="flex flex-row gap-4">
                    <profile-description class="flex-1" :title="resident[f]" :description="`${f}'s Name`"/>
                </div>
            </div>

            <!-- Children -->
            <div class="flex flex-row gap-4 items-center mt-5 mb-2">
                <div class="flex-1 font-medium text-lg">Children</div>
            </div>
            <div v-if="resident.children?.length >= 1" class="flex flex-col divide-y">
                <div v-for="(c, i) in resident.children" :key="i" class="py-3">
                    <div class="flex flex-row gap-4">
                        <div class="flex-1">
                            <div class="flex flex-col md:flex-row gap-4">
                                <profile-description class="flex-1" :title="c.fullname" description="Name"/>
                                <profile-description class="flex-1" :title="moment(c.bday).format('LL')" description="Birthdate"/>
                                <div class="flex-1">
                                    <div class="flex flex-row gap-4">
                                        <profile-description class="flex-1" :title="c.age" description="Age"/>
                                        <profile-description class="flex-1" :title="c.gender_str" description="Gender"/>
                                        <profile-description class="flex-1" :title="c.civil_status_str" description="Civil Status"/>
                                    </div>
                                </div>
                            </div>
                            <div v-if="c.is_student" class="flex flex-col md:flex-row gap-4 items-center mt-2">
                                <div class="font-medium">Currently Studying</div>
                                <profile-description class="w-40" :title="c.level_str" description="School Level"/>
                                <profile-description class="flex-1" :title="c.school_name" description="School Name"/>
                                <profile-description class="flex-1" :title="c.school_address_str" description="School Address"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <n-empty v-else description="No children found."/>
        </n-card>

        <!-- Siblings -->
        <n-card size="small" title="Siblings">
            <div v-if="resident.siblings?.length >= 1" class="flex flex-col divide-y">
                <div v-for="(s, i) in resident.siblings" :key="i" class="py-3">
                    <div class="flex flex-row gap-4">
                        <profile-description class="flex-1" :title="s.fullname" description="Name"/>
                    </div>
                </div>
            </div>
            <n-empty v-else description="No siblings found."/>
        </n-card>

        <!-- Businesses -->
        <n-card size="small" title="Businesses">
            <div v-if="resident.businesses?.length >= 1" class="flex flex-col divide-y">
                <div v-for="(b, i) in resident.businesses" :key="i" class="py-3">
                    <div class="flex flex-row gap-4">
                        <profile-description class="flex-1" :title="b.name" description="Business Name"/>
                        <profile-description class="flex-1" :title="b.address_str" description="Business Address"/>
                    </div>
                </div>
            </div>
            <n-empty v-else description="No business found."/>
        </n-card>

        <!-- Job History -->
        <n-card size="small" title="Work / Job History">
            <div v-if="resident.jobs?.length >= 1" class="flex flex-col divide-y">
                <div v-for="(j, i) in resident.jobs" :key="i" class="py-3">
                    <div class="flex flex-col md:flex-row gap-4">
                        <profile-description class="flex-1" :title="j.position" description="Job Title / Position"/>
                        <profile-description class="flex-1" :title="j.company_name" description="Company Name"/>
                        <profile-description class="flex-1" :title="j.date_range" description="Date Started - Date Ended"/>
                    </div>
                </div>
            </div>
            <n-empty v-else description="No work / job history found."/>
        </n-card>

        <!-- Assets -->
        <n-card size="small" title="Assets">
            <div v-if="resident.assets?.length >= 1" class="flex flex-col divide-y">
                <div v-for="(a, i) in resident.assets" :key="i" class="py-3">
                    <div class="flex flex-col md:flex-row gap-4">
                        <profile-description class="w-40" :title="a.type_str" description="Asset Type"/>
                        <profile-description v-for="(d, di) in a.details" :key="di" class="flex-1" :title="d.value" :description="d.label"/>
                    </div>
                </div>
            </div>
            <n-empty v-else description="No assets found."/>
        </n-card>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import moment from 'moment'
export default {
    data() {
        return {
            moment,
            photoExists: false
        }
    },
    created() {
        this.checkPhoto()
    },
    methods: {
        async checkPhoto() {
            try {
                await axios.get(`/images/profiles/${this.resident.photo}`)
                this.photoExists = true
            } catch (e) {
                this.photoExists = false
            }
        }
    },
    computed: {
        ...mapState({
            resident: state => state.user
        })
    }
}
</script>