<template>
    <AppLayout2>
        <div class="flex-1">
            <div class="p-4 text-white">
                <div class="flex flex-col gap-4">
                    <div>
                        <div class="text-lg text-center font-medium mb-2 uppercase">Vision</div>
                        <p class="text-justify indent-10 whitespace-pre-line">
                            {{ barangay?.vision }}
                        </p>
                    </div>

                    <div>
                        <div class="text-lg text-center font-medium mb-2 uppercase">Mission</div>
                        <p class="text-justify indent-10 whitespace-pre-line">
                            {{ barangay?.mission }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1">
            <n-card>
                <div class="flex flex-row gap-4 items-center justify-center">
                    <div>
                        <img src="/images/logo1.png" class="w-20"/>
                    </div>
                    <div class="flex-1 text-center hidden md:block">
                        <div class="font-medium text-lg">Barangay Management Information System</div>
                        <div class="text-sm">{{ barangay?.address }}</div>
                    </div>
                    <div>
                        <img src="/images/logo.png" class="w-20"/>
                    </div>
                </div>

                <div class="text-center mt-4 block md:hidden">
                    <div class="font-medium">Barangay Management Information System</div>
                    <div class="text-sm">{{ barangay?.address }}</div>
                </div>

                <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()" class="mt-10">

                    <n-form-item label="Email" path="email" :feedback="formFeedback.message.email" :validation-status="formFeedback.status.email">
                        <n-input v-model:value="formValues.email" placeholder="Input email" @input="formErrors.email = undefined" />
                    </n-form-item>

                    <n-form-item label="Password" path="password" :feedback="formFeedback.message.password" :validation-status="formFeedback.status.password">
                        <n-input type="password" v-model:value="formValues.password" placeholder="Input password" @input="formErrors.password = undefined" />
                    </n-form-item>

                    <n-button style="width:100%" :disabled="formDisabled" :loading="formDisabled" attr-type="submit" type="primary">Login</n-button>

                </n-form>

                <div v-if="error" class="mt-4">
                    <n-alert title="Login Error" type="error">
                        {{ error }}
                    </n-alert>
                </div>

                <div class="text-sm mt-4">
                    No account yet? <router-link class="font-medium text-blue-700 hover:text-blue-500" :to="{name:'resident-register'}">Register here.</router-link>
                </div>
            </n-card>
        </div>
    </AppLayout2>
</template>
<script>
import axios from 'axios'
import AppLayout2 from '~/components/resident/AppLayout2.vue'
export default {
    components: { AppLayout2 },
    data() {
        return {
            barangay: window.$barangay,

            error: null,
            formDisabled: false,
            formValues: {},
            formRules: {
                email: {
                    required: true,
                    message: 'Please input email',
                    trigger: ['input', 'blur'],
                },
                password: {
                    required: true,
                    message: 'Please input password',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                await axios.post(`/resident/login`, this.formValues)
                window.location.replace('/resident/panel')

            } catch (e) {
                const { errors } = e.response.data
                if (errors) {
                    this.formErrors = errors
                } else {
                    this.error = String(e.response.data)
                }
            }
            this.formDisabled = false
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>