<template>
    <AppLayout2>
        <div class="flex-1">
            <n-card>
                <div class="flex flex-row gap-4 items-center justify-center">
                    <div>
                        <img src="/images/logo1.png" class="w-20"/>
                    </div>
                    <div class="text-center hidden md:block">
                        <h1 class="font-medium text-lg">Resident Registration</h1>
                        <div class="text-sm">{{ barangay?.address }}</div>
                    </div>
                    <div>
                        <img src="/images/logo.png" class="w-20"/>
                    </div>
                </div>
                <div class="text-center mt-4 block md:hidden">
                    <div class="font-medium">Resident Registration</div>
                    <div class="text-sm">{{ barangay?.address }}</div>
                </div>

                <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()" class="mt-10">
                    
                    <div class="flex flex-col md:flex-row gap-y-4 gap-x-10">

                        <!-- General Information -->
                        <div class="flex-1">
                            <h2 class="font-medium mb-4">General Information</h2>
                            <div>
                                <n-form-item class="flex-1" label="First Name" path="fname" :feedback="formFeedback.message.fname" :validation-status="formFeedback.status.fname">
                                    <n-input v-model:value="formValues.fname" placeholder="Input first name" @update:value="formErrors.fname = undefined" />
                                </n-form-item>
                                <n-form-item class="flex-1" label="Middle Name" path="mname" :feedback="formFeedback.message.mname" :validation-status="formFeedback.status.mname">
                                    <n-input v-model:value="formValues.mname" placeholder="Input middle name" @update:value="formErrors.mname = undefined" />
                                </n-form-item>
                                <n-form-item class="flex-1" label="Last Name" path="lname" :feedback="formFeedback.message.lname" :validation-status="formFeedback.status.lname">
                                    <n-input v-model:value="formValues.lname" placeholder="Input last name" @update:value="formErrors.lname = undefined" />
                                </n-form-item>
                                <n-form-item class="flex-1" label="Birthdate" path="bday" :feedback="formFeedback.message.bday" :validation-status="formFeedback.status.bday">
                                    <SelectDate v-model="formValues.bday"/>
                                </n-form-item>
                            </div>

                            <div class="flex flex-col md:flex-row gap-4">
                                <n-form-item class="flex-1" label="Gender" path="gender" :feedback="formFeedback.message.gender" :validation-status="formFeedback.status.gender">
                                    <n-select v-model:value="formValues.gender" placeholder="Input gender" :options="genders" @update:value="formErrors.gender = undefined" />
                                </n-form-item>
                                <n-form-item class="flex-1" label="Civil Status" path="civil_status" :feedback="formFeedback.message.civil_status" :validation-status="formFeedback.status.civil_status">
                                    <n-select v-model:value="formValues.civil_status" placeholder="Input civil status" :options="civilStatuses" @update:value="formErrors.civil_status = undefined" />
                                </n-form-item>
                            </div>

                            <div class="flex flex-col md:flex-row gap-4">
                                <n-form-item class="flex-1" label="Years Resided" path="years_resided" :feedback="formFeedback.message.years_resided" :validation-status="formFeedback.status.years_resided">
                                    <n-input-number style="width:100%" v-model:value="formValues.years_resided" placeholder="Input years" @update:value="formErrors.years_resided = undefined" />
                                </n-form-item>
                                <n-form-item class="flex-1" label="Home Number" path="home_number" :feedback="formFeedback.message.home_number" :validation-status="formFeedback.status.home_number">
                                    <n-input v-model:value="formValues.home_number" placeholder="Input home number" @update:value="formErrors.home_number = undefined" />
                                </n-form-item>
                                <n-form-item class="flex-1" label="Purok" path="purok" :feedback="formFeedback.message.purok" :validation-status="formFeedback.status.purok">
                                    <n-input-number style="width:100%" :min="1" v-model:value="formValues.purok" placeholder="Input purok" @update:value="formErrors.purok = undefined" />
                                </n-form-item>
                            </div>

                            <div class="flex flex-col md:flex-row gap-4">
                                <n-form-item class="flex-1" label="Registered Voter" path="is_voter">
                                    <n-switch v-model:value="formValues.is_voter" />
                                </n-form-item>
                                <n-form-item class="flex-1" label="Household / Head of the Family" path="is_household">
                                    <n-switch v-model:value="formValues.is_household" />
                                </n-form-item>
                            </div>
                        </div>

                        <!-- Login Information -->
                        <div class="flex-1">
                            <h2 class="font-medium mb-4">Login Information</h2>

                            <n-form-item class="flex-1" label="Email Address" path="email" :feedback="formFeedback.message.email" :validation-status="formFeedback.status.email">
                                <n-input v-model:value="formValues.email" placeholder="Input first name" @update:value="formErrors.email = undefined" />
                            </n-form-item>

                            <n-form-item label="Password" path="password" :feedback="formFeedback.message.password" :validation-status="formFeedback.status.password">
                                <n-input type="password" v-model:value="formValues.password" placeholder="Input password" @input="formErrors.password = undefined" />
                            </n-form-item>

                            <n-form-item label="Confirm Password" path="password_confirmation" :feedback="formFeedback.message.password_confirmation" :validation-status="formFeedback.status.password_confirmation">
                                <n-input type="password" v-model:value="formValues.password_confirmation" placeholder="Confirm password" @input="formErrors.password_confirmation = undefined" />
                            </n-form-item>

                            <n-button style="width:100%" :disabled="formDisabled" :loading="formDisabled" attr-type="submit" type="primary">Register</n-button>

                            <div class="text-sm mt-4">
                                Already have an account? <router-link class="font-medium text-blue-700 hover:text-blue-500" :to="{name:'resident-login'}">Login here.</router-link>
                            </div>
                        </div>
                    </div>
                </n-form>
            </n-card>
        </div>
    </AppLayout2>
</template>
<script>
import SelectAddress from '~/components/utils/SelectAddress.vue'
import SelectDate from '~/components/utils/SelectDate.vue'
import AppLayout2 from '~/components/resident/AppLayout2.vue'

const stringRule = (label) => {
    return {
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur']
    }
}

const numberRule = (label) => {
    return {
        type: 'number',
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur', 'change']
    }
}

export default {
    components: { SelectAddress, SelectDate, AppLayout2 },
    data() {
        return {
            barangay: window.$barangay,

            formDisabled: false,
            formValues: {
                is_voter: false,
                is_household: false,
                bday: '1989-01-01',
                province: window.$barangay?.province.toUpperCase(),
                municipality: window.$barangay?.municipality.toUpperCase(),
                barangay: window.$barangay?.barangay.toUpperCase(),
            },
            formRules: {
                fname: stringRule('first name'),
                mname: stringRule('middle name'),
                lname: stringRule('last name'),
                gender: numberRule('gender'),
                bday: stringRule('birthdate'),
                civil_status: numberRule('civil status'),
                years_resided: numberRule('years'),
                home_number: stringRule('home number'),
                purok: numberRule('purok'),
                email: stringRule('email'),
                password: stringRule('password'),
                password_confirmation: [
                    {
                        required: true,
                        message: 'Please input confirm password',
                        trigger: ['input', 'blur'],
                    },{
                        validator: this.confirmPassword,
                        message: 'Password did not mathed!',
                        trigger: ['input', 'blur', 'password-input']
                    }
                ],
            },
            formErrors: {},

            genders: [
                {label:'Male', value:1},
                {label:'Female', value:2},
            ],
            civilStatuses: [
                {label:'Single', value:1},
                {label:'Married', value:2},
                {label:'Lived In', value:3},
                {label:'Widowed', value:4},
            ],
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                await window.$api3.post(`/register`, this.formValues)
                window.location.replace('/email-verify')

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
        confirmPassword(rule, value) {
            return value === this.formValues.password
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>