<template>
    <content-layout-simple title="Requests"
        :loading="loading"
        :empty="requests.length >= 1 ? false : true"
        :page-count="pageCount"
    >
        <template #header-right>
            <n-popover placement="bottom-end" trigger="click">
                <template #trigger>
                    <n-button type="info">Request Certificates</n-button>
                </template>
                <n-menu :options="menu" :indent="20" @update:value="menuRequests"/>
            </n-popover>
        </template>

        <n-table>
            <thead>
                <tr>
                    <th>Certificate Type</th>
                    <th>Remarks</th>
                    <th>Date Requested</th>
                    <th>Date Paid</th>
                    <th>Date Issued</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(request, i) in requests" :key="i">
                    <td>{{ request.title }}</td>
                    <td><n-tag :type="request.remarks?.type">{{ request.remarks?.text }}</n-tag></td>
                    <td>{{ moment(request.requested_at).format('LLL') }}</td>
                    <td>{{ (request.paid_at) ? moment(request.paid_at).format('LL') : '-----'}}</td>
                    <td>{{ (request.issued_at) ? moment(request.issued_at).format('LL') : '-----'}}</td>
                </tr>
            </tbody>
        </n-table>
        
    </content-layout-simple>
    <n-modal :mask-closable="false" v-model:show="requestsModal" style="width: 600px;" title="Request Certificate" preset="card">
        <div class="text-lg mb-4">
            You are about to submit a request of <span class="text-blue-500 font-bold">{{ requestsTitle }}</span> 
        </div>
        <CreateRequest :type="requestsModalType" @cancel="requestsModal = false" @success="requestsModal = false, getRequests()"/>
    </n-modal>
</template>
<script>
import ContentLayoutSimple from '~/components/utils/ContentLayoutSimple.vue'
import CreateRequest from '~/components/resident/forms/CreateRequest.vue'
import moment from 'moment'
import numeral from 'numeral'

export default {
    components: { ContentLayoutSimple, CreateRequest },
    data() {
        return {
            moment,
            numeral,

            requests: [],
            requestsModal: false,
            requestsModalType: null,
            requestsTitle: '',

            loading: false,
            pageCount: 1,
        }
    },
    created() {
        this.getRequests()
    },
    methods: {
        async getRequests() {
            await this.type
            this.loading = true

            const { data } = await window.$api2.get(`/requests`)
            this.requests = data.data
            this.pageCount = data.last_page
            this.loading = false
        },
        menuRequests(key) {
            this.requestsTitle = window.$documentTypes[key]
            this.requestsModalType = key
            this.requestsModal = true
        }
    },
    computed: {
        menu() {
            const transactions = Object.keys(window.$documentTypes).map(el => {
                return {
                    label: window.$documentTypes[el],
                    key: el
                }
            })
            return transactions.filter(el => el.key != 11)
        }
    }
}
</script>