<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <!-- Business Clearance and Certificate -->
        <template v-if="isBusiness">
            <n-form-item label="Resident's Business" path="resident_business_id" :feedback="formFeedback.message.resident_business_id" :validation-status="formFeedback.status.resident_business_id">
                <n-select v-model:value="formValues.resident_business_id" :options="businesses" placeholder="Input business" @update:value="formErrors.resident_business_id = undefined" />
            </n-form-item>
        </template>

        <!-- Certification -->
        <template v-if="isAsset">
            <n-form-item label="Resident's Asset" path="resident_asset_id" :feedback="formFeedback.message.resident_asset_id" :validation-status="formFeedback.status.resident_asset_id">
                <n-select v-model:value="formValues.resident_asset_id" :options="assets" placeholder="Input asset" @update:value="formErrors.resident_asset_id = undefined" />
            </n-form-item>
        </template>

        <!-- COVID -->
        <div v-if="isCovid">
            <strong>Destination</strong>
            <SelectAddress v-model="formValues.covid" path-prefix="covid."/>
        </div>

        <!-- Summons -->
        <template v-if="isSummon">
            <n-checkbox v-model:checked="formValues.summon.no_name">Check if respondent name not found.</n-checkbox>

            <n-form-item v-if="!formValues.summon.no_name" label="Respondent" path="summon.resident_id" :feedback="formFeedback.message['summon.resident_id']" :validation-status="formFeedback.status['summon.resident_id']">
                <SearchResident v-model="formValues.summon.resident_id"/>
            </n-form-item>

            <n-form-item v-else class="flex-1" label="Respondent Full Name" path="summon.resident_name" :feedback="formFeedback.message['summon.resident_name']" :validation-status="formFeedback.status['summon.resident_name']">
                <n-input v-model:value="formValues.summon.resident_name" placeholder="Input name" @update:value="formErrors['summon.resident_name'] = undefined" />
            </n-form-item>

            <div class="flex flex-col md:flex-row gap-4">
                <n-form-item class="flex-1" label="Date Schedule" path="summon.scheduled_date" :feedback="formFeedback.message['summon.scheduled_at']" :validation-status="formFeedback.status['summon.scheduled_at']">
                    <SelectDate v-model="formValues.summon.scheduled_date"/>
                </n-form-item>
                <n-form-item label="Time Schedule" path="summon.scheduled_time" :feedback="formFeedback.message['summon.scheduled_time']" :validation-status="formFeedback.status['summon.scheduled_time']">
                    <n-time-picker v-model:value="formValues.summon.scheduled_time" :hours="[8,9,10,11,12,13,14,15,16,17,18]" :minutes="5" :seconds="[0]" placeholder="Input time schedule" @update:value="formErrors['summon.scheduled_time'] = undefined" />
                </n-form-item>
            </div>
        </template>

        <!-- Has Purpose -->
        <template v-if="hasPurpose">
            <n-form-item label="Purpose / Reason" path="purpose" :feedback="formFeedback.message.purpose" :validation-status="formFeedback.status.purpose">
                <n-input type="textarea" v-model:value="formValues.purpose" placeholder="Input purpose" @update:value="formErrors.purpose = undefined" />
            </n-form-item>
        </template>

        <div v-if="error" class="my-4">
            <n-alert title="Request Failed" type="error">
                {{ error }}
            </n-alert>
        </div>
        
        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
import { mapState } from 'vuex'
import SelectDate from '~/components/utils/SelectDate.vue'
import SearchResident from '~/components/utils/SearchResident.vue'
import SelectAddress from '~/components/utils/SelectAddress.vue'
import moment from 'moment'

const stringRule = (label) => {
    return {
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur']
    }
}

const numberRule = (label) => {
    return {
        type: 'number',
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur', 'change']
    }
}

export default {
    props: {
        type: {type:[Number, String], required:true},
    },
    components: { SelectDate, SearchResident, SelectAddress },
    data() {
        return {
            formDisabled: false,
            formValues: {
                covid: {
                    province: window.$barangay?.province.toUpperCase(),
                    municipality: window.$barangay?.municipality.toUpperCase(),
                    barangay: window.$barangay?.barangay.toUpperCase(),
                },
                summon: {
                    no_name: false,
                    scheduled_time: null,
                    scheduled_date: moment().format('YYYY-MM-DD')
                },
                type: this.type,
            },
            formRules: {
                summon: {
                    resident_id: numberRule('resident'),
                    resident_name: stringRule('respondent name'),
                    scheduled_time: numberRule('time schedule'),
                    scheduled_date: stringRule('date schedule'),
                },
                covid: {
                    province: stringRule('province'),
                    municipality: stringRule('municipality'),
                    barangay: stringRule('barangay'),
                },
                resident_business_id: numberRule('business'),
                resident_asset_id: numberRule('asset'),
                purpose: stringRule('purpose'),
            },
            formErrors: {},
            error: null,
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            if (this.isSummon) {
                const time = moment(this.formValues.summon.scheduled_time).format('HH:mm:00')
                this.formValues.summon.scheduled_at = `${this.formValues.summon.scheduled_date} ${time}`
            }

            this.formDisabled = true
            try {
                const { data } = await window.$api2.post(`/requests`, this.formValues)
                this.$emit('success', data)

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                } else {
                    this.error = String(e.response.data)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() { return window.$formFeebacks(this.formErrors) },
        isBusiness() { return [5,6].includes(Number(this.type)) },
        isAsset() { return this.type == 8 },
        isCovid() { return this.type == 9 },
        isSummon() { return this.type == 10 },
        hasPurpose() { return [8,9,10].includes(Number(this.type)) },
        ...mapState({
            businesses: state => {
                return state.user?.businesses.map(el => {
                    return {
                        label: el.name,
                        value: el.id
                    }
                })
            },
            assets: state => {
                return state.user?.assets.map(el => {
                    return {
                        label: `${el.type_str} (${el.details_str})`,
                        value: el.id,
                    }
                })
            }
        })
    }
}
</script>