<template>
    <n-form :disabled="formDisabled" :model="formValues"  @submit.prevent="submitForm()">
        <n-form-item label="Transaction Type" path="type">
            <n-select v-model:value="formValues.type" :options="transactions" />
        </n-form-item>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="Date Start" path="date_start">
                <SelectDate v-model="formValues.date_start"/>
            </n-form-item>

            <n-form-item class="flex-1" label="Date End" path="date_end">
                <SelectDate v-model="formValues.date_end"/>
            </n-form-item>
        </div>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
import SelectDate from '~/components/utils/SelectDate.vue'
import moment from 'moment'
export default {
    components: { SelectDate },
    data() {
        return {
            formDisabled: false,
            formValues: {
                type: 'all',
                date_start: moment().format('YYYY-MM-DD'),
                date_end: moment().format('YYYY-MM-DD'),
            }
        }
    },
    methods: {
        submitForm() {
            const values = Object.keys(this.formValues).map(el => {
                return `${el}=${this.formValues[el]}`
            })
            window.open('/admin/print/transactions?'+values.join('&'), '_blank')
            this.$emit('success')
        }
    },
    computed: {
        transactions() {
            const options = Object.keys(window.$documentTypes).map(el => {
                return {
                    label: window.$documentTypes[el],
                    value: 'document_'+el
                }
            })

            return [
                {
                    label: 'All Transactions',
                    value: 'all'
                },
                ...options,
                {
                    label: 'Summons',
                    value: 'summon'
                },{
                    label: 'Borrowed Materials',
                    value: 'material'
                }
            ]
        },
    }
}
</script>