<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item v-if="!isMaterials" label="Date Paid" path="paid_at" :feedback="formFeedback.message.paid_at" :validation-status="formFeedback.status.paid_at">
            <SelectDate v-model="formValues.paid_at"/>
        </n-form-item>

        <n-form-item v-if="isMaterials" label="Date Returned" path="returned_at" :feedback="formFeedback.message.returned_at" :validation-status="formFeedback.status.returned_at">
            <SelectDate v-model="formValues.returned_at"/>
        </n-form-item>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>

    </n-form>
</template>
<script>
import SelectDate from '~/components/utils/SelectDate.vue'
import moment from 'moment'

const stringRule = (label) => {
    return {
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur']
    }
}

export default {
    props: {
        modelValue: { type:Object, requiured:true },
    },
    components: { SelectDate },
    data() {
        return {
            formDisabled: false,
            formValues: {
                paid_at: moment().format('YYYY-MM-DD'),
                returned_at: moment().format('YYYY-MM-DD'),
            },
            formRules: {
                paid_at: stringRule('date paid'),
                returned_at: stringRule('date returned'),
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await window.$api.post(`/transaction-update-payment/${this.modelValue.id}`, this.formValues)
                this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                this.$emit('success', data)

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() { return window.$formFeebacks(this.formErrors) },
        isMaterials() { return this.modelValue.type == 11 },
    },
}
</script>