<template>
    <n-form :disabled="formDisabled" :model="formValues" @submit.prevent="submitForm()">

        <n-checkbox-group v-model:value="formValues.officials">
            <div class="flex flex-col gap-4">
                <n-checkbox v-for="(official, i) in officials" :key="i" :value="official.id">
                    <div class="text-lg">{{ official.fullname }}</div>
                    <div class="text-sm text-gray-600">{{ official.position_str }}</div>
                </n-checkbox>
            </div>
        </n-checkbox-group>
    
        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
export default {
    props: {
        type: {type:[String,Number], required:true}
    },
    data() {
        return {
            formDisabled: false,
            formValues: {
                type: this.type,
                officials: []
            },
            officials: []
        }
    },
    async created() {
        this.formDisabled = true
        const { data } = await window.$api.get(`/officials/?all=1`)
        this.officials = data
        data.forEach(el => {
            const { signatories } = el
            if (signatories) {
                const official = signatories.find(e => e.type == this.type)
                if (official) this.formValues.officials.push(el.id)
            }
        })

        this.formDisabled = false
    },
    methods: {
        async submitForm() {
            this.formDisabled = true
            try {
                const { data } = await window.$api.post(`/official-signatories`, this.formValues)
                window.$message.success("Signatory set successfully!")
                this.$emit('success', data)

            } catch (e) {
                const { data } = e.response
                window.$message.error(data.message)
                
            }
            this.formDisabled = false
        },
    },
}
</script>