<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Password" path="password" :feedback="formFeedback.message.password" :validation-status="formFeedback.status.password">
            <n-input v-model:value="formValues.password" placeholder="password" @update:value="formErrors.password = undefined" />
        </n-form-item>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
const stringRule = (label) => {
    return {
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur']
    }
}

export default {
    props: {
        residentId: {type:[String,Number], required:true},
    },
    data() {
        return {
            formDisabled: false,
            formValues: {},
            formRules: {
                password: stringRule('password'),
            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await window.$api.post(`/resident-change-password/${this.residentId}`, this.formValues)
                this.$emit('success', data)

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>