<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Job Title / Position" path="position" :feedback="formFeedback.message.position" :validation-status="formFeedback.status.position">
            <n-input v-model:value="formValues.position" placeholder="Input position" @update:value="formErrors.position = undefined" />
        </n-form-item>

        <n-form-item label="Company Name" path="company_name" :feedback="formFeedback.message.company_name" :validation-status="formFeedback.status.company_name">
            <n-input v-model:value="formValues.company_name" placeholder="Input company name" @update:value="formErrors.company_name = undefined" />
        </n-form-item>

        <n-form-item label="Date Started" path="started_at" :feedback="formFeedback.message.started_at" :validation-status="formFeedback.status.started_at">
            <SelectDate v-model="formValues.started_at" :hide-day="true"/>
        </n-form-item>

        <div class="flex flex-row gap-4">
            <n-form-item label="Present Date" path="is_present">
                <n-switch v-model:value="formValues.is_present" />
            </n-form-item>
            <n-form-item class="flex-1" v-if="!formValues.is_present" label="Date Ended" path="ended_at">
                <SelectDate v-model="formValues.ended_at" :hide-day="true"/>
            </n-form-item>
        </div>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
import SelectDate from '~/components/utils/SelectDate.vue'
import moment from 'moment'
export default {
    props: {
        modelValue: {
            type:Object,
            default: {
                started_at: moment().format('YYYY-MM-DD'),
                ended_at: moment().format('YYYY-MM-DD'),
                is_present: false,
            }
        },
        residentId: {type:[String,Number], required:true}
    },
    components: { SelectDate },
    data() {
        return {
            formDisabled: false,
            formValues: {...this.modelValue},
            formRules: {
                position: {
                    required: true,
                    message: 'Please input position',
                    trigger: ['input', 'blur'],
                },
                company_name: {
                    required: true,
                    message: 'Please input company name',
                    trigger: ['input', 'blur'],
                },
                started_at: {
                    required: true,
                    message: 'Please input date started',
                    trigger: ['input', 'blur'],
                },
                ended_at: {
                    validator: this.validateDateEnded,
                    message: 'Please input date started',
                    trigger: ['input', 'blur'],
                },

            },
            formErrors: {},
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/residents/${this.residentId}/jobs`, this.formValues)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/jobs/${this.modelValue.id}?_method=PUT`, this.formValues)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
        validateDateEnded(rule, value) {
            if (this.formValues.is_present && (value == null || value == '')) {
                return new Error("Please input date ended")
            }
            return true
        }
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>