<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="First Name" path="fname" :feedback="formFeedback.message.fname" :validation-status="formFeedback.status.fname">
                <n-input v-model:value="formValues.fname" placeholder="Input first name" @update:value="formErrors.fname = undefined" />
            </n-form-item>
            <n-form-item class="flex-1" label="Middle Name" path="mname" :feedback="formFeedback.message.mname" :validation-status="formFeedback.status.mname">
                <n-input v-model:value="formValues.mname" placeholder="Input middle name" @update:value="formErrors.mname = undefined" />
            </n-form-item>
            <n-form-item class="flex-1" label="Last Name" path="lname" :feedback="formFeedback.message.lname" :validation-status="formFeedback.status.lname">
                <n-input v-model:value="formValues.lname" placeholder="Input last name" @update:value="formErrors.lname = undefined" />
            </n-form-item>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="Gender" path="gender" :feedback="formFeedback.message.gender" :validation-status="formFeedback.status.gender">
                <n-select v-model:value="formValues.gender" placeholder="Input gender" :options="genders" @update:value="formErrors.gender = undefined" />
            </n-form-item>
            <n-form-item class="flex-1" label="Civil Status" path="civil_status" :feedback="formFeedback.message.civil_status" :validation-status="formFeedback.status.civil_status">
                <n-select v-model:value="formValues.civil_status" placeholder="Input civil status" :options="civilStatuses" @update:value="formErrors.civil_status = undefined" />
            </n-form-item>
            <n-form-item class="flex-1" label="Birthdate" path="bday" :feedback="formFeedback.message.bday" :validation-status="formFeedback.status.bday">
                <SelectDate v-model="formValues.bday"/>
            </n-form-item>
        </div>

        <n-form-item label="Currently Studying?" path="is_student">
            <n-switch v-model:value="formValues.is_student" />
        </n-form-item>

        <template v-if="formValues.is_student">
            <n-form-item label="School Level" path="school_level" :feedback="formFeedback.message.school_level" :validation-status="formFeedback.status.school_level">
                <n-select v-model:value="formValues.school_level" placeholder="Input school level" :options="levels" @update:value="formErrors.school_level = undefined" />
            </n-form-item>

            <n-form-item label="School Name" path="school_name" :feedback="formFeedback.message.school_name" :validation-status="formFeedback.status.school_name">
                <n-input v-model:value="formValues.school_name" placeholder="Input school name" @update:value="formErrors.school_name = undefined" />
            </n-form-item>

            <div>
                <SelectAddress v-model="formValues.school_address" path-prefix="school_address."/>
            </div>
        </template>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Continue</n-button>
        </div>
    </n-form>
</template>
<script>
import SelectAddress from '~/components/utils/SelectAddress.vue'
import SelectDate from '~/components/utils/SelectDate.vue'
import moment from 'moment'

const stringRule = (label) => {
    return {
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur']
    }
}

const numberRule = (label) => {
    return {
        type: 'number',
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur', 'change']
    }
}

export default {
    props: {
        modelValue: {
            type:Object,
            default: {
                bday: moment().format('YYYY-MM-DD'),
                is_student: false,
                school_address: {
                    province: window.$barangay?.province.toUpperCase(),
                    municipality: window.$barangay?.municipality.toUpperCase(),
                    barangay: window.$barangay?.barangay.toUpperCase(),
                }
            }
        },
        residentId: {type:[String,Number], required:true}
    },
    components: { SelectAddress, SelectDate },
    data() {
        return {
            formDisabled: false,
            formValues: {...this.modelValue},
            formRules: {
                fname: stringRule('first name'),
                mname: stringRule('middle name'),
                lname: stringRule('last name'),
                gender: numberRule('gender'),
                bday: stringRule('birthdate'),
                civil_status: numberRule('civil status'),

                school_level: {
                    type: 'number',
                    required: true,
                    message: 'Please input school level',
                    trigger: ['input', 'change', 'blur'],
                },
                school_name: stringRule('school name'),
                province: stringRule('province'),
                municipality: stringRule('municipality'),
                barangay: stringRule('barangay'),
            },
            formErrors: {},

            genders: [
                {label:'Male', value:1},
                {label:'Female', value:2},
            ],
            civilStatuses: [
                {label:'Single', value:1},
                {label:'Married', value:2},
                {label:'Lived In', value:3},
                {label:'Widowed', value:4},
            ],
            levels: [
                {label:'Primary', value:1},
                {label:'Secondary', value:2},
                {label:'Tertiary', value:3},
                {label:'Vocational', value:4}
            ]
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/residents/${this.residentId}/children`, this.formValues)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/children/${this.modelValue.id}?_method=PUT`, this.formValues)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>