<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Username" path="username" :feedback="formFeedback.message.username" :validation-status="formFeedback.status.username">
            <n-input v-model:value="formValues.username" placeholder="Input username" @update:value="formErrors.username = undefined" />
        </n-form-item>

        <div v-if="!modelValue.id">
            <n-form-item label="Password" path="password" :feedback="formFeedback.message.password" :validation-status="formFeedback.status.password">
                <n-input v-model:value="formValues.password" placeholder="Input password" @update:value="formErrors.password = undefined" />
            </n-form-item>
        </div>
        <div v-else>
            <div>
                <n-checkbox v-model:checked="editPassword">Edit Password</n-checkbox>
            </div>
            <n-form-item v-if="editPassword" label="Password" path="password" :feedback="formFeedback.message.password" :validation-status="formFeedback.status.password">
                <n-input v-model:value="formValues.password" placeholder="Input password" @update:value="formErrors.password = undefined" />
            </n-form-item>
        </div>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
const stringRule = (label) => {
    return {
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur']
    }
}

export default {
    props: {
        modelValue: {
            type:Object,
            default: {}
        },
    },
    data() {
        return {
            formDisabled: false,
            formValues: {...this.modelValue},
            formRules: {
                username: stringRule('username'),
                password: stringRule('password'),
            },
            formErrors: {},

            editPassword: false
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/admins`, this.formValues)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/admins/${this.modelValue.id}?_method=PUT`, this.formValues)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>