<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Asset Type" path="type" :feedback="formFeedback.message.type" :validation-status="formFeedback.status.type">
            <n-select v-model:value="formValues.type" placeholder="Input type" :options="types" @update:value="formErrors.type = undefined" />
        </n-form-item>

        <template v-if="formValues.type == 1">
            <div class="flex flex-col md:flex-row gap-4">
                <n-form-item class="flex-1" label="Brand" path="brand" :feedback="formFeedback.message.brand" :validation-status="formFeedback.status.brand">
                    <n-input v-model:value="formValues.brand" placeholder="Input brand" @update:value="formErrors.brand = undefined" />
                </n-form-item>
                <n-form-item class="flex-1" label="Model" path="model" :feedback="formFeedback.message.model" :validation-status="formFeedback.status.model">
                    <n-input v-model:value="formValues.model" placeholder="Input model" @update:value="formErrors.model = undefined" />
                </n-form-item>
            </div>
            <div class="flex flex-col md:flex-row gap-4">
                <n-form-item class="flex-1" label="Plate Number" path="plate_number" :feedback="formFeedback.message.plate_number" :validation-status="formFeedback.status.plate_number">
                    <n-input v-model:value="formValues.plate_number" placeholder="Input plate number" @update:value="formErrors.plate_number = undefined" />
                </n-form-item>
                <n-form-item class="flex-1" label="Color" path="color" :feedback="formFeedback.message.color" :validation-status="formFeedback.status.color">
                    <n-input v-model:value="formValues.color" placeholder="Input color" @update:value="formErrors.color = undefined" />
                </n-form-item>
            </div>
        </template>

        <template v-else-if="formValues.type == 2">
            <div class="flex flex-col md:flex-row gap-4">
                <n-form-item class="flex-1" label="Animal Type" path="animal_type" :feedback="formFeedback.message.animal_type" :validation-status="formFeedback.status.animal_type">
                    <n-input v-model:value="formValues.animal_type" placeholder="Input animal type" @update:value="formErrors.animal_type = undefined" />
                </n-form-item>
                <n-form-item class="flex-1" label="Sex" path="sex" :feedback="formFeedback.message.sex" :validation-status="formFeedback.status.sex">
                    <n-select v-model:value="formValues.sex" placeholder="Input sex" :options="genders" @update:value="formErrors.sex = undefined" />
                </n-form-item>
            </div>
            <div class="flex flex-col md:flex-row gap-4">
                <n-form-item class="flex-1" label="Age" path="age" :feedback="formFeedback.message.age" :validation-status="formFeedback.status.age">
                    <n-input v-model:value="formValues.age" placeholder="Input age" @update:value="formErrors.age = undefined" />
                </n-form-item>
                <n-form-item class="flex-1" label="Color" path="color" :feedback="formFeedback.message.color" :validation-status="formFeedback.status.color">
                    <n-input v-model:value="formValues.color" placeholder="Input color" @update:value="formErrors.color = undefined" />
                </n-form-item>
            </div>
            <n-form-item class="flex-1" label="Certificate" path="certificate" :feedback="formFeedback.message.certificate" :validation-status="formFeedback.status.certificate">
                <n-input v-model:value="formValues.certificate" placeholder="Input certificate" @update:value="formErrors.certificate = undefined" />
            </n-form-item>
        </template>

        <template v-else>
            <div class="flex flex-col md:flex-row gap-4">
                <n-form-item class="flex-1" label="Land Type" path="land_type" :feedback="formFeedback.message.land_type" :validation-status="formFeedback.status.land_type">
                    <n-input v-model:value="formValues.land_type" placeholder="Input land type" @update:value="formErrors.land_type = undefined" />
                </n-form-item>
                <n-form-item class="flex-1" label="Hectars" path="hectars" :feedback="formFeedback.message.hectars" :validation-status="formFeedback.status.hectars">
                    <n-input v-model:value="formValues.hectars" placeholder="Input hectars" @update:value="formErrors.hectars = undefined" />
                </n-form-item>
            </div>
            <div>
                <SelectAddress v-model="formValues"/>
            </div>
        </template>

        <n-alert v-if="formErrors.has_transaction" title="Not Allowed" type="error" class="mb-4">
            <p v-for="p in formErrors.has_transaction" :key="p">{{ p }}</p>
        </n-alert>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
import SelectAddress from '~/components/utils/SelectAddress.vue'

const stringRule = (label) => {
    return {
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur']
    }
}

export default {
    props: {
        modelValue: {
            type:Object,
            default: {
                type: 1,
                province: 'QUIRINO',
                municipality: 'MADDELA',
                barangay: 'SAN BERNABE',
            }
        },
        residentId: {type:[String,Number], required:true}
    },
    components: { SelectAddress },
    data() {
        return {
            formDisabled: false,
            formValues: {...this.modelValue},
            formRules: {
                type: {
                    type: 'number',
                    required: true,
                    message: 'Please input name',
                    trigger: ['input', 'blur'],
                },
                brand: stringRule('brand'),
                model: stringRule('model'),
                plate_number: stringRule('plate number'),
                color: stringRule('color'),
                land_type: stringRule('land type'),
                hectars: stringRule('hectars'),
                animal_type: stringRule('animal type'),
                sex: {
                    type: 'number',
                    required: true,
                    message: 'Please input sex',
                    trigger: ['input', 'blur'],
                },
                age: stringRule('age'),
                certificate: stringRule('certificate'),
                barangay: {
                    required: true,
                    message: 'Please input barangay',
                    trigger: ['input', 'change', 'blur'],
                },
                municipality: {
                    required: true,
                    message: 'Please input municipality',
                    trigger: ['input', 'change', 'blur'],
                },
                province: {
                    required: true,
                    message: 'Please input province',
                    trigger: ['input', 'change', 'blur'],
                },
            },
            formErrors: {},

            types: [
                {label:'Vehicle', value:1},
                {label:'Animal', value:2},
                {label:'Land', value:3},
            ],
            genders: [
                {label:'Male', value:1},
                {label:'Female', value:2},
            ],
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/residents/${this.residentId}/assets`, this.formValues)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/assets/${this.modelValue.id}?_method=PUT`, this.formValues)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>