<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <div v-if="modelValue.resident && modelValue.is_requested" class="font-bold mb-4">
            {{ modelValue.resident.fullname }}
        </div>
        <n-form-item v-else label="Resident" path="resident_id" :feedback="formFeedback.message.resident_id" :validation-status="formFeedback.status.resident_id">
            <SearchResident v-model="formValues.resident_id" :resident="modelValue.resident"/>
        </n-form-item>

        <!-- Business Clearance and Certificate -->
        <template v-if="isBusiness">
            <n-form-item label="Resident's Business" path="resident_business_id" :feedback="formFeedback.message.resident_business_id" :validation-status="formFeedback.status.resident_business_id">
                <n-select v-model:value="formValues.resident_business_id" :options="businesses" placeholder="Input business" @update:value="formErrors.resident_business_id = undefined" />
            </n-form-item>
        </template>

        <!-- Certification -->
        <template v-if="isAsset">
            <n-form-item label="Resident's Asset" path="resident_asset_id" :feedback="formFeedback.message.resident_asset_id" :validation-status="formFeedback.status.resident_asset_id">
                <n-select v-model:value="formValues.resident_asset_id" :options="assets" placeholder="Input asset" @update:value="formErrors.resident_asset_id = undefined" />
            </n-form-item>
        </template>

        <!-- COVID -->
        <div v-if="isCovid">
            <strong>Destination</strong>
            <SelectAddress v-model="formValues.covid" path-prefix="destination."/>
        </div>

        <!-- Summons -->
        <template v-if="isSummon">
            <n-checkbox v-model:checked="formValues.summon.no_name">Check if respondent name not found.</n-checkbox>

            <n-form-item v-if="!formValues.summon.no_name" label="Respondent" path="summon.resident_id" :feedback="formFeedback.message['summon.resident_id']" :validation-status="formFeedback.status['summon.resident_id']">
                <SearchResident v-model="formValues.summon.resident_id" :resident="modelValue.summon.resident"/>
            </n-form-item>

            <n-form-item v-else class="flex-1" label="Respondent Full Name" path="summon.resident_name" :feedback="formFeedback.message['summon.resident_name']" :validation-status="formFeedback.status['summon.resident_name']">
                <n-input v-model:value="formValues.summon.resident_name" placeholder="Input name" @update:value="formErrors['summon.resident_name'] = undefined" />
            </n-form-item>

            <div class="flex flex-col md:flex-row gap-4">
                <n-form-item class="flex-1" label="Date Schedule" path="summon.scheduled_date" :feedback="formFeedback.message['summon.scheduled_at']" :validation-status="formFeedback.status['summon.scheduled_at']">
                    <SelectDate v-model="formValues.summon.scheduled_date"/>
                </n-form-item>
                <n-form-item label="Time Schedule" path="summon.scheduled_time" :feedback="formFeedback.message['summon.scheduled_time']" :validation-status="formFeedback.status['summon.scheduled_time']">
                    <n-time-picker v-model:value="formValues.summon.scheduled_time" :hours="[8,9,10,11,12,13,14,15,16,17,18]" :minutes="5" :seconds="[0]" placeholder="Input time schedule" @update:value="formErrors['summon.scheduled_time'] = undefined" />
                </n-form-item>
            </div>
        </template>

        <!-- Borrowed Materials -->
        <template v-if="isMaterials">
            <div class="mt-2">
                <n-checkbox v-model:checked="otherMaterial">Check if other materials</n-checkbox>
            </div>

            <n-form-item v-if="otherMaterial" label="Material" path="material.material" :feedback="formFeedback.message['material.material']" :validation-status="formFeedback.status['material.material']">
                <n-input v-model:value="formValues.material.material" placeholder="Input material" @update:value="formErrors['material.material'] = undefined" />
            </n-form-item>

            <n-form-item v-else label="Material" path="material.material" :feedback="formFeedback.message['material.material']" :validation-status="formFeedback.status['material.material']">
                <n-select v-model:value="formValues.material.material" placeholder="Input material" filterable :options="materials" @update:value="formErrors['material.material'] = undefined" />
            </n-form-item>
            
            <div class="flex flex-col md:flex-row gap-4">
                <n-form-item class="flex-1" label="Status" path="material.status" :feedback="formFeedback.message['material.status']" :validation-status="formFeedback.status['material.status']">
                    <n-select v-model:value="formValues.material.status" placeholder="Input status" :options="statuses" @update:value="formErrors['material.status'] = undefined" />
                </n-form-item>

                <n-form-item class="flex-1" label="Quantity" path="material.quantity" :feedback="formFeedback.message['material.quantity']" :validation-status="formFeedback.status['material.quantity']">
                    <n-input-number style="width:100%" v-model:value="formValues.material.quantity" placeholder="Input quantity" :min="1" @update:value="formErrors['material.quantity'] = undefined" />
                </n-form-item>
            </div>
        </template>

        <!-- Has Purpose -->
        <template v-if="hasPurpose">
            <n-form-item label="Purpose / Reason" path="purpose" :feedback="formFeedback.message.purpose" :validation-status="formFeedback.status.purpose">
                <n-input type="textarea" v-model:value="formValues.purpose" placeholder="Input purpose" @update:value="formErrors.purpose = undefined" />
            </n-form-item>
        </template>

        <!-- Document Details -->
        <template v-if="hasAmount">
            <n-form-item class="flex-1" label="Amount" path="amount" :feedback="formFeedback.message.amount" :validation-status="formFeedback.status.amount">
                <n-input-number style="width:100%" v-model:value="formValues.amount" placeholder="Input amount" :min="0" @update:value="formErrors.amount = undefined" />
            </n-form-item>
        </template>

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item v-if="!isMaterials" class="flex-1" :label="(isSummon) ? 'Case Number' : 'CTC Number'" path="ctc_number" :feedback="formFeedback.message.ctc_number" :validation-status="formFeedback.status.ctc_number">
                <n-input v-model:value="formValues.ctc_number" placeholder="Input ctc number" @update:value="formErrors.ctc_number = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Date Issued" path="issued_at" :feedback="formFeedback.message.issued_at" :validation-status="formFeedback.status.issued_at">
                <SelectDate v-model="formValues.issued_at"/>
            </n-form-item>
        </div>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>

    </n-form>
</template>
<script>
import SelectDate from '~/components/utils/SelectDate.vue'
import SearchResident from '~/components/utils/SearchResident.vue'
import SelectAddress from '~/components/utils/SelectAddress.vue'
import Materials from '~/constants/materials.js'
import moment from 'moment'

const stringRule = (label) => {
    return {
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur']
    }
}

const numberRule = (label) => {
    return {
        type: 'number',
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur', 'change']
    }
}

export default {
    props: {
        modelValue: {
            type:Object,
            default: {
                amount: 0,
                issued_at: moment().format('YYYY-MM-DD'),
                covid: {
                    province: window.$barangay?.province.toUpperCase(),
                    municipality: window.$barangay?.municipality.toUpperCase(),
                    barangay: window.$barangay?.barangay.toUpperCase(),
                },
                summon: {
                    no_name: false,
                    scheduled_time: null,
                    scheduled_date: moment().format('YYYY-MM-DD')
                },
                material: {}
            }
        },
        type: {type:[Number, String], required:true},
    },
    components: { SelectDate, SearchResident, SelectAddress },
    data() {
        return {
            formDisabled: false,
            formValues: {
                ...this.modelValue,
                type: this.type,
            },
            formRules: {
                summon: {
                    resident_id: numberRule('resident'),
                    resident_name: stringRule('respondent name'),
                    scheduled_time: numberRule('time schedule'),
                    scheduled_date: stringRule('date schedule'),
                },
                covid: {
                    province: stringRule('province'),
                    municipality: stringRule('municipality'),
                    barangay: stringRule('barangay'),
                },
                materials: {
                    material: stringRule('material'),
                    status: numberRule('status'),
                    quantity: numberRule('quantity'),
                },
                resident_id: numberRule('resident'),
                ctc_number: stringRule('ctc number'),
                amount: numberRule('amount'),
                resident_business_id: numberRule('business'),
                resident_asset_id: numberRule('asset'),
                purpose: stringRule('purpose'),
                or_number: stringRule('or number'),
                issued_at: stringRule('date issued'),
                // paid_at: stringRule('date paid'),
                // returned_at: stringRule('date returned'),
            },
            formErrors: {},
            businesses: [],
            assets: [],
            statuses: [
                {label:'Good', value:1},
                {label:'Damaged', value:2},
                {label:'Lost', value:3},
            ],

            otherMaterial: (!this.modelValue.material?.material) ? false : !Materials.includes(this.modelValue.material.material),
            // isPaid: (!this.modelValue.paid_at) ? false : true,
            // isReturned: (!this.modelValue.returned_at) ? false : true,
        }
    },
    created() {
        this.getResidentBusinesses()
        this.getResidentAssets()
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            if (this.isSummon) {
                const time = moment(this.formValues.summon.scheduled_time).format('HH:mm:00')
                this.formValues.summon.scheduled_at = `${this.formValues.summon.scheduled_date} ${time}`
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/transactions`, this.formValues)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/transactions/${this.modelValue.id}?_method=PUT`, this.formValues)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
        // Get business
        async getResidentBusinesses() {
            const { resident_id } = this.formValues
            if (!resident_id || !this.isBusiness) return

            this.formDisabled = true
            const { data } = await window.$api.get(`/residents/${resident_id}/businesses`)
            this.businesses = data.map(el => {
                return {
                    label: el.name,
                    value: el.id
                }
            })
            this.formDisabled = false
        },
        // Get assets
        async getResidentAssets() {
            const { resident_id } = this.formValues
            if (!resident_id || !this.isAsset) return

            this.formDisabled = true
            const { data } = await window.$api.get(`/residents/${resident_id}/assets`)
            this.assets = data.map(el => {
                return {
                    label: `${el.type_str} (${el.details_str})`,
                    value: el.id,
                }
            })
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() { return window.$formFeebacks(this.formErrors) },
        isBusiness() { return [5,6].includes(Number(this.type)) },
        isAsset() { return this.type == 8 },
        isCovid() { return this.type == 9 },
        isSummon() { return this.type == 10 },
        isMaterials() { return this.type == 11 },
        hasPurpose() { return [8,9,10].includes(Number(this.type)) },
        hasAmount() { return this.type <= 1 },
        materials() {
            const materials = [...Materials]
            return materials.map(e => {
                return {
                    label: e,
                    value: e
                }
            })
        }
    },
    watch: {
        'formValues.resident_id'() {
            this.getResidentBusinesses()
            this.getResidentAssets()
        },
    }
}
</script>