<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="School Level" path="level" :feedback="formFeedback.message.level" :validation-status="formFeedback.status.level">
            <n-select v-model:value="formValues.level" placeholder="Input level" :options="levels" @update:value="formErrors.level = undefined" />
        </n-form-item>

        <n-form-item label="Program / Course" path="course" :feedback="formFeedback.message.course" :validation-status="formFeedback.status.course">
            <n-input v-model:value="formValues.course" placeholder="Input program / course" @update:value="formErrors.course = undefined" />
        </n-form-item>

        <n-form-item label="School Name" path="school_name" :feedback="formFeedback.message.school_name" :validation-status="formFeedback.status.school_name">
            <n-input v-model:value="formValues.school_name" placeholder="Input school name" @update:value="formErrors.school_name = undefined" />
        </n-form-item>

        <n-form-item label="Year Completed / Graduated" path="graduated_at" :feedback="formFeedback.message.graduated_at" :validation-status="formFeedback.status.graduated_at">
            <SelectDate v-model="formValues.graduated_at" :hide-day="true"/>
        </n-form-item>

        <div>
            <SelectAddress v-model="formValues.school_address" path-prefix="school_address."/>
        </div>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
import SelectAddress from '~/components/utils/SelectAddress.vue'
import SelectDate from '~/components/utils/SelectDate.vue'
import moment from 'moment'
export default {
    props: {
        modelValue: {
            type:Object,
            default: {
                graduated_at: moment().format('YYYY-MM-DD'),
                school_address: {
                    province: window.$barangay?.province.toUpperCase(),
                    municipality: window.$barangay?.municipality.toUpperCase(),
                    barangay: window.$barangay?.barangay.toUpperCase(),
                }
            }
        },
        residentId: {type:[String,Number], required:true}
    },
    components: { SelectAddress, SelectDate },
    data() {
        return {
            formDisabled: false,
            formValues: {...this.modelValue},
            formRules: {
                level: {
                    type: 'number',
                    required: true,
                    message: 'Please input level',
                    trigger: ['input', 'change', 'blur'],
                },
                graduated_at: {
                    required: true,
                    message: 'Please input year graduated',
                    trigger: ['input', 'blur'],
                },
                course: {
                    required: true,
                    message: 'Please input program / course',
                    trigger: ['input', 'blur'],
                },
                school_name: {
                    required: true,
                    message: 'Please input school name',
                    trigger: ['input', 'blur'],
                },
                barangay: {
                    required: true,
                    message: 'Please input barangay',
                    trigger: ['input', 'change', 'blur'],
                },
                municipality: {
                    required: true,
                    message: 'Please input municipality',
                    trigger: ['input', 'change', 'blur'],
                },
                province: {
                    required: true,
                    message: 'Please input province',
                    trigger: ['input', 'change', 'blur'],
                },
            },
            formErrors: {},

            levels: [
                {label:'Primary', value:1},
                {label:'Secondary', value:2},
                {label:'Tertiary', value:3},
                {label:'ALS', value:4},
                {label:'Vocational', value:5}
            ]
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/residents/${this.residentId}/educations`, this.formValues)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/educations/${this.modelValue.id}?_method=PUT`, this.formValues)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        }
    }
}
</script>