<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <div class="flex flex-col md:flex-row gap-4">
            <n-form-item class="flex-1" label="Title" path="title" :feedback="formFeedback.message.title" :validation-status="formFeedback.status.title">
                <n-select v-model:value="formValues.title" placeholder="Input title" :options="titles" @update:value="formErrors.title = undefined" />
            </n-form-item>

            <n-form-item class="flex-1" label="Position" path="position" :feedback="formFeedback.message.position" :validation-status="formFeedback.status.position">
                <n-select v-model:value="formValues.position" placeholder="Input position" :options="positions" @update:value="formErrors.position = undefined" />
            </n-form-item>
        </div>

        <n-form-item label="First Name" path="fname" :feedback="formFeedback.message.fname" :validation-status="formFeedback.status.fname">
            <n-input v-model:value="formValues.fname" placeholder="Input first name" @update:value="formErrors.fname = undefined" />
        </n-form-item>

        <n-form-item label="Middle Name" path="mname" :feedback="formFeedback.message.mname" :validation-status="formFeedback.status.mname">
            <n-input v-model:value="formValues.mname" placeholder="Input middle name" @update:value="formErrors.mname = undefined" />
        </n-form-item>

        <n-form-item label="Last Name" path="lname" :feedback="formFeedback.message.lname" :validation-status="formFeedback.status.lname">
            <n-input v-model:value="formValues.lname" placeholder="Input last name" @update:value="formErrors.lname = undefined" />
        </n-form-item>

        <n-form-item label="Username" path="username" :feedback="formFeedback.message.username" :validation-status="formFeedback.status.username">
            <n-input v-model:value="formValues.username" placeholder="Input username" @update:value="formErrors.username = undefined" />
        </n-form-item>

        <div v-if="!modelValue.id">
            <n-form-item label="Password" path="password" :feedback="formFeedback.message.password" :validation-status="formFeedback.status.password">
                <n-input v-model:value="formValues.password" placeholder="Input password" @update:value="formErrors.password = undefined" />
            </n-form-item>
        </div>
        <div v-else>
            <div class="mt-2">
                <n-checkbox v-model:checked="editPassword">Edit Password</n-checkbox>
            </div>
            <n-form-item v-if="editPassword" label="Password" path="password" :feedback="formFeedback.message.password" :validation-status="formFeedback.status.password">
                <n-input v-model:value="formValues.password" placeholder="Input password" @update:value="formErrors.password = undefined" />
            </n-form-item>
        </div>

        <div class="flex flex-row gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" type="success" attr-type="submit">Submit</n-button>
        </div>
    </n-form>
</template>
<script>
const stringRule = (label) => {
    return {
        required: true,
        message: 'Please input '+label,
        trigger: ['input', 'blur']
    }
}

export default {
    props: {
        modelValue: {
            type:Object,
            default: {}
        },
    },
    data() {
        return {
            formDisabled: false,
            formValues: {...this.modelValue},
            formRules: {
                fname: stringRule('first name'),
                mname: stringRule('middle name'),
                lname: stringRule('last name'),
                username: stringRule('username'),
                password: stringRule('password'),
                title: {
                    required: true,
                    message: 'Please input title',
                    trigger: ['input', 'blur']
                },
                position: {
                    type: 'number',
                    required: true,
                    message: 'Please input position',
                    trigger: ['input', 'blur']
                }
            },
            formErrors: {},

            titles: ['Hon.','Mr.','Ms.','Mrs.','Kgwd.'].map(el => {
                return {
                    label: el,
                    value: el
                }
            }),
            editPassword: false
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                if (!this.modelValue.id) {
                    const { data } = await window.$api.post(`/officials`, this.formValues)
                    this.$emit('success', data)

                } else {
                    const { data } = await window.$api.post(`/officials/${this.modelValue.id}?_method=PUT`, this.formValues)
                    this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                    this.$emit('success', data)
                }

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error(data.message)
                }
                
            }
            this.formDisabled = false
        },
    },
    computed: {
        formFeedback() {
            return window.$formFeebacks(this.formErrors)
        },
        positions() {
            return Object.keys(window.$officialPositions).map(el => {
                return {
                    label: window.$officialPositions[el],
                    value: Number(el)
                }
            })
        }
    }
}
</script>